p{
  font-family: Georgia;
  font-size: 14px;
}

.post-author, .post-date{
  color: #FF1493;
  font-size:13px;
  font-family: Georgia;
}
a{
  color:inherit;
}
a:hover{
  text-decoration: none;
}

.post{
  font-family:Georgia;
  font-size:12px;
  font-style:normal;
}
