{%block content %}

{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>About Andile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/inherited_main.css' %}" />
		<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> -->
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">A-Lister <span>by Andile</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Some Intel on the author</p>
						<h2>About</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p>I am Andile Mbele aka Google Jr</p>
								<h2>About Me</h2>
							</header>
							<p>I am Andile. That's just about all I can say about myself, hahaha. Well I am not sure what  is expected of me but ok, let me see.</p>
							<p>First and foremost, I am your typical nerd. I try to deny it as quick as possible but it is the fact. I am a self driven individual, a goal getter. I believe in hardwork, well simply because the more you work the closer you get to your intended goal or goals. I have a lot of ambitious goals and therefore I have no other choice but to work hard and smarter too.</p>

							<p>By training I am a technologist, by default I am a avid learner. I love computers and technology. I am happy to be part of the generation that got to live in the pic of technology. My interests mainly are in programming. I have experience and some level of exposure in some of the world renowned technologies today including Python, Nodejs, Reactjs, Typescript, PHP, Visual Basic .NET, C++ and JavaScript. The key technology areas I am most fascinated by including web app development, cloud computing, Internet of Things (IoT), Embedded Systems, Artificial Intelligence, Machine Learning, Data Science, Data Visualisation, Blockchain and Quantum Computing.</p>

							<p>I am a self starter, a workaholic if you like. My dreams are to be a renowned figure in the technology space. I dream of running my own companies some day soon.</p>

						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="mailto:andilembele020@gmail.com?subject=feedback" class="icon fa-envelope-o"><span class="label"></span></a></li>
	          <li><a href="https://linkedin.com/andilejaden.mbele" class="icon fa-linkedin"><span class="label"></span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Copyrighted. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
{% endblock %}
